:root {
    --white: #fff;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
    font-family: 'IBM Plex Sans', sans-serif;
}

.container {
    border: 0px solid black;
    background: linear-gradient(35deg, #add8d8, #d4abab);
    border-radius: 25px;
    width: 40vw;
    height: 30vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#generator-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-group {
    margin: 5%;
    text-align: center;
}

button {
    margin: 20px 10px 10px; 
    border-radius: 8px;
    border: 0;
    background-color: #d5fdfd;
    font-family : inherit;
}

.warning-message {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes smooth {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.show {
    animation: smooth 3.1s linear;
    display: block !important;
}
.none {
    display: none;
  }

@media (max-width: 1150px) {
    .container {
        width: 60vw;
        height: 25vh;
    }
}

@media (max-width: 800px) {
    .container {
        width: 80vw;
        height: 30vh;
    }
}

@media (max-width: 600px) {
    .container {
        width: 90vw;
        height: 40vh;
    }
    .form-group {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 380px) {
    .container {
        height: 50vh;
    }
    input[type="text"] {
        width: 50vw;
    }
}

@media (max-height: 610px) {
    .container {
        height: 45vh;
    }
}